body{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 0%;
    background-color: rgb(36, 42, 48);
}
p{
    color: rgb(204, 204, 204);
}
.header{
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;
}
